* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/apertium-spa-ita.ita-spa.t1x -text
/apertium-spa-ita.ita-spa.t2x -text
/apertium-spa-ita.ita-spa.t3x -text
/apertium-spa-ita.spa-ita.dix -text
/apertium-spa-ita.spa-ita.t1x -text
/apertium-spa-ita.spa-ita.t2x -text
/apertium-spa-ita.spa-ita.t3x -text
/autogen.sh -text
/configure.ac -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/testvoc-summary.es-it.txt -text
dev/testvoc-summary.it-es.txt -text
dev/testvoc.sh -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
/i_to_p.awk.in -text
/inline_e.awk.in -text
it-tagger-data/README -text
it-tagger-data/it.crp.txt.gz -text
/ita-spa-unsupervised.make -text
/modes.xml -text
/sustituye_caracteres.awk.in -text
/testvoc-apertium2-utf -text
