* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/apertium-es-it.es-it.dix.xml -text
/apertium-es-it.es-it.t1x -text
/apertium-es-it.es-it.t2x -text
/apertium-es-it.es-it.t3x -text
/apertium-es-it.es.dix.xml -text
/apertium-es-it.it-es.t1x -text
/apertium-es-it.it-es.t2x -text
/apertium-es-it.it-es.t3x -text
/apertium-es-it.it.dix.xml -text
/apertium-es-it.post-es.dix -text
/apertium-es-it.post-it.dix -text
/apertium-es-it.symbols.xml -text
/autogen.sh -text
/configure.ac -text
/es-it.prob -text svneol=unset#unset
/it-es.prob -text svneol=unset#unset
/modes.xml -text
